In [2]:
import pandas as pd
df = pd.read_csv('mod_census_data_all.csv')
df.columns

Index(['Index', 'AttainedEd', 'Race', 'TotalIncome', 'HispanicInd', 'Sex',
       'MaritalStatus', 'State'],
      dtype='object')

In [3]:
attained_ed_val_counts = df['AttainedEd'].value_counts(dropna=False)
race_val_counts = df['Race'].value_counts(dropna=False)
income_val_counts = df['TotalIncome'].value_counts(dropna=False)
hispanic_ind_val_counts = df['HispanicInd'].value_counts(dropna=False)
sex_val_counts = df['Sex'].value_counts(dropna=False)
marital_status_val_counts = df['MaritalStatus'].value_counts(dropna=False)
state_val_counts = df['State'].value_counts(dropna=False)

print(attained_ed_val_counts)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print(race_val_counts)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print(income_val_counts)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print(hispanic_ind_val_counts)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print(sex_val_counts)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print(marital_status_val_counts)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print(state_val_counts)

AttainedEd
Children                                    33153
High school graduate-high school diploma    32922
Bachelor's degree (BA,AB,BS)                25158
Some College But No Degree                  20661
Master's degree (MA,MS,MENG,MED,MSW,MBA)    11073
Assc degree-academic program                 7021
Assc degree-occupation/vocation              5149
11th Grade                                   4231
10th Grade                                   3937
9th Grade                                    3426
7th and 8th grade                            2585
Doctorate degree (PHD,EDD)                   2268
12th Grade No Diploma                        2102
Professional school degree (MD,DDS,DVM,L     1631
5th Or 6th Grade                             1518
1st,2nd,3rd,or 4th grade                      757
Less Than 1st Grade                           367
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Race
White Only                              122135
Black Only                               18150
Asian Only                               10239
American Indian, Alaskan Native Only      2443
White-Black                               1313
White-AI                                  1151
White-Asian                                906
Hawaiian/Pacific Islander Only             725
White-HP                                   209
Black-AI                                   168
Asian-HP                                   113
W-A-HP                                     107
W-B-AI                                      94
Black-Asian                                 67
W-B-A                                       55
AI-Asian                                    15
Black-HP                                    15
W-AI-A                                      12
AI-HP                                        8
Other 4 and 5 Race Combinations              8
W-AI-HP                                      7
W-B-AI-A                                     7
W-B-HP                                       6
Other 3 Race Combinations                    4
B-AI-A                                       2
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~
TotalIncome
0        1317
30000     626
40000     559
50000     513
60000     511
         ...
21414       1
18528       1
85811       1
49630       1
15542       1
Name: count, Length: 37388, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~
HispanicInd
Non-Hispanic    128011
Hispanic         29948
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Sex
Female    81045
Male      76914
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~
MaritalStatus
Never married          71100
Marr-civ sp present    63838
Divorced               11993
Widowed                 6822
Separated               2082
Marr-spouse absent      1672
Marr-AF spo present      452
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~
State
CA    15693
TX     9361
FL     7068
NY     6353
IL     4174
PA     3981
LA     3700
OH     3573
NC     3565
GA     3527
MI     3498
MA     3362
AL     3214
WA     3123
VA     3015
UT     2877
NM     2867
NJ     2865
TN     2832
AZ     2807
MS     2785
ID     2752
WV     2751
AR     2720
MT     2699
IN     2652
OR     2563
SC     2503
HI     2426
OK     2418
DC     2300
NV     2293
WI     2264
ND     2239
WY     2172
MN     2142
NE     2096
AK     2084
MO     2081
KS     2025
MD     1958
NH     1942
IA     1905
CO     1902
SD     1796
VT     1783
KY     1724
DE     1608
CT     1516
RI     1290
ME     1115
Name: count, dtype: int64

In [4]:
print("Here's the list of any dupes in df:",(df.duplicated()).value_counts(dropna=False))
print("Here's the shape of df:", df.shape)

Here's the list of any dupes in df: False    157959
Name: count, dtype: int64
Here's the shape of df: (157959, 8)

### Cool, so above we see that the total number of rows is the same, and we know there are no null values because when we counted them with value_counts(), we made it so.

In [5]:
print(df.dtypes)

Index             int64
AttainedEd       object
Race             object
TotalIncome       int64
HispanicInd      object
Sex              object
MaritalStatus    object
State            object
dtype: object

### Let's check the specific type of each object column. I expect they would be strings, so that's what I'll check for

In [6]:
print("The entire column is comprised of strings? ",df['AttainedEd'].apply(lambda x: isinstance(x, str)).all())
print("The entire column is comprised of strings? ",df['Race'].apply(lambda x: isinstance(x, str)).all())
print("The entire column is comprised of strings? ",df['TotalIncome'].apply(lambda x: isinstance(x, str)).all())
print("         The entire column is comprised of int? ",df['TotalIncome'].apply(lambda x: isinstance(x, int)).all())
print("The entire column is comprised of strings? ",df['HispanicInd'].apply(lambda x: isinstance(x, str)).all())
print("The entire column is comprised of strings? ",df['Sex'].apply(lambda x: isinstance(x, str)).all())
print("The entire column is comprised of strings? ",df['MaritalStatus'].apply(lambda x: isinstance(x, str)).all())

The entire column is comprised of strings?  True
The entire column is comprised of strings?  True
The entire column is comprised of strings?  False
         The entire column is comprised of int?  True
The entire column is comprised of strings?  True
The entire column is comprised of strings?  True
The entire column is comprised of strings?  True

In [12]:
print((df['State'].value_counts()))

State
CA    15693
TX     9361
FL     7068
NY     6353
IL     4174
PA     3981
LA     3700
OH     3573
NC     3565
GA     3527
MI     3498
MA     3362
AL     3214
WA     3123
VA     3015
UT     2877
NM     2867
NJ     2865
TN     2832
AZ     2807
MS     2785
ID     2752
WV     2751
AR     2720
MT     2699
IN     2652
OR     2563
SC     2503
HI     2426
OK     2418
DC     2300
NV     2293
WI     2264
ND     2239
WY     2172
MN     2142
NE     2096
AK     2084
MO     2081
KS     2025
MD     1958
NH     1942
IA     1905
CO     1902
SD     1796
VT     1783
KY     1724
DE     1608
CT     1516
RI     1290
ME     1115
Name: count, dtype: int64